/* Aqui esta el hero  , que  altura consistente y recorte sin deformar */
#heroPromos .carousel-item img{
  height:380px;       /*Ajusta la altura  */
  width:100%;
  object-fit:cover;  /* Evita deformación, recorta lo sobrante */
}

/* Tarjetas con altura pareja: título alineado y botón pegado abajo */
.card .card-title{min-height:2.4em} /* ~2 líneas de texto */
.card.h-100{display:flex;flex-direction:column}
.card.h-100 .card-body{display:flex;flex-direction:column}
.card.h-100 .card-body > .d-flex{margin-top:auto}

/* Esquinas suaves*/
.rounded-4{border-radius:1rem!important}

/* Suavidad al hacer scroll a #ofertas-dia (cuando se toque el botón rojo lateral) */
html{scroll-behavior:smooth}

