USE [master]
GO
/****** Object:  Database [TiendaSara]    Script Date: 04/10/2025 11:42:24 p. m. ******/
CREATE DATABASE [TiendaSara]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TiendaSara', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TiendaSara.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TiendaSara_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TiendaSara_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TiendaSara].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TiendaSara]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 04/10/2025 11:42:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Id_Categoria] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion_Categoria] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Descripcion_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 04/10/2025 11:42:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[Id_Marca] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion_Marca] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Descripcion_Marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstatusVenta]    Script Date: 04/10/2025 11:42:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstatusVenta](
	[Id_EstatusVenta] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion_EstatusVenta] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_EstatusVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Descripcion_EstatusVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 04/10/2025 11:42:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id_Producto] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion_Producto] [nvarchar](150) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Id_Categoria] [int] NOT NULL,
	[Id_Marca] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Productos] UNIQUE NONCLUSTERED 
(
	[Descripcion_Producto] ASC,
	[Id_Marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carrito]    Script Date: 04/10/2025 11:42:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrito](
	[Id_Carrito] [int] IDENTITY(1,1) NOT NULL,
	[Folio_Venta] [varchar](20) NOT NULL,
	[Total_Compra] [decimal](12, 2) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[Id_EstatusVenta] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Carrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Folio_Venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarritoDetalle]    Script Date: 04/10/2025 11:42:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarritoDetalle](
	[Id_CarritoDetalle] [int] IDENTITY(1,1) NOT NULL,
	[Id_Carrito] [int] NOT NULL,
	[Id_Producto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Subtotal] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_CarritoDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vCarritoDetalleInfo]    Script Date: 04/10/2025 11:42:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vCarritoDetalleInfo]
AS
SELECT
    Carrito.Id_Carrito                    AS Carrito_Id,
    Carrito.Folio_Venta,
    Carrito.Total_Compra,
    Carrito.Fecha,
    EstatusVenta.Descripcion_EstatusVenta AS Estatus,
    CarritoDetalle.Id_CarritoDetalle      AS CarritoDetalle_Id,
    CarritoDetalle.Cantidad,
    CarritoDetalle.Subtotal,
    Productos.Id_Producto                 AS Producto_Id,
    Productos.Descripcion_Producto        AS Productos,
    Productos.Precio,
    Categoria.Descripcion_Categoria       AS Categoria,
    Marcas.Descripcion_Marca              AS Marcas
FROM Carrito
INNER JOIN EstatusVenta   ON EstatusVenta.Id_EstatusVenta = Carrito.Id_EstatusVenta
INNER JOIN CarritoDetalle ON CarritoDetalle.Id_Carrito    = Carrito.Id_Carrito
INNER JOIN Productos      ON Productos.Id_Producto        = CarritoDetalle.Id_Producto
INNER JOIN Categoria      ON Categoria.Id_Categoria       = Productos.Id_Categoria
INNER JOIN Marcas         ON Marcas.Id_Marca              = Productos.Id_Marca;
GO
/****** Object:  Index [IX_Carrito_IdEstatusVenta]    Script Date: 04/10/2025 11:42:25 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Carrito_IdEstatusVenta] ON [dbo].[Carrito]
(
	[Id_EstatusVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CarritoDetalle_IdCarrito]    Script Date: 04/10/2025 11:42:25 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_CarritoDetalle_IdCarrito] ON [dbo].[CarritoDetalle]
(
	[Id_Carrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CarritoDetalle_IdProducto]    Script Date: 04/10/2025 11:42:25 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_CarritoDetalle_IdProducto] ON [dbo].[CarritoDetalle]
(
	[Id_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Categoria_Descripcion]    Script Date: 04/10/2025 11:42:25 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Categoria_Descripcion] ON [dbo].[Categoria]
(
	[Descripcion_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EstatusVenta_Descripcion]    Script Date: 04/10/2025 11:42:25 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_EstatusVenta_Descripcion] ON [dbo].[EstatusVenta]
(
	[Descripcion_EstatusVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Marcas_Descripcion]    Script Date: 04/10/2025 11:42:25 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Marcas_Descripcion] ON [dbo].[Marcas]
(
	[Descripcion_Marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Productos_Id_Categoria]    Script Date: 04/10/2025 11:42:25 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Productos_Id_Categoria] ON [dbo].[Productos]
(
	[Id_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Productos_Id_Marca]    Script Date: 04/10/2025 11:42:25 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Productos_Id_Marca] ON [dbo].[Productos]
(
	[Id_Marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Carrito] ADD  CONSTRAINT [DF_Carrito_Total]  DEFAULT ((0)) FOR [Total_Compra]
GO
ALTER TABLE [dbo].[Carrito] ADD  CONSTRAINT [DF_Carrito_Fecha]  DEFAULT (sysutcdatetime()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Carrito]  WITH CHECK ADD  CONSTRAINT [FK_Carrito_EstatusVenta] FOREIGN KEY([Id_EstatusVenta])
REFERENCES [dbo].[EstatusVenta] ([Id_EstatusVenta])
GO
ALTER TABLE [dbo].[Carrito] CHECK CONSTRAINT [FK_Carrito_EstatusVenta]
GO
ALTER TABLE [dbo].[CarritoDetalle]  WITH CHECK ADD  CONSTRAINT [FK_CarritoDetalle_Carrito] FOREIGN KEY([Id_Carrito])
REFERENCES [dbo].[Carrito] ([Id_Carrito])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CarritoDetalle] CHECK CONSTRAINT [FK_CarritoDetalle_Carrito]
GO
ALTER TABLE [dbo].[CarritoDetalle]  WITH CHECK ADD  CONSTRAINT [FK_CarritoDetalle_Producto] FOREIGN KEY([Id_Producto])
REFERENCES [dbo].[Productos] ([Id_Producto])
GO
ALTER TABLE [dbo].[CarritoDetalle] CHECK CONSTRAINT [FK_CarritoDetalle_Producto]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categoria] FOREIGN KEY([Id_Categoria])
REFERENCES [dbo].[Categoria] ([Id_Categoria])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categoria]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Marcas] FOREIGN KEY([Id_Marca])
REFERENCES [dbo].[Marcas] ([Id_Marca])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Marcas]
GO
ALTER TABLE [dbo].[CarritoDetalle]  WITH CHECK ADD CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[CarritoDetalle]  WITH CHECK ADD CHECK  (([Subtotal]>=(0)))
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD CHECK  (([Cantidad]>=(0)))
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD CHECK  (([Precio]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[RecalcularTotalesCarrito]    Script Date: 04/10/2025 11:42:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RecalcularTotalesCarrito]
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Carrito
    SET Total_Compra = (
        SELECT ISNULL(SUM(CarritoDetalle.Cantidad * Productos.Precio), 0)
        FROM CarritoDetalle
        INNER JOIN Productos ON Productos.Id_Producto = CarritoDetalle.Id_Producto
        WHERE CarritoDetalle.Id_Carrito = Carrito.Id_Carrito
    );
END;
GO
USE [master]
GO
